* {
    -app-color: #008080;
    -app-color-secondary: #D56100;
}

.button-raised {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-background-color: -app-color;
    -fx-text-fill: WHITE;
    -fx-cursor: HAND;
}

.inverted {
    -fx-padding: 0.25em 0.25em;
    -fx-font-size: 16px;
    -fx-background-color: transparent;
    -fx-text-fill: -app-color;
    -fx-border-width: 1px;
    -fx-border-color: #008080;
    -jfx-focus-color: transparent;
    -jfx-faint-focus-color: transparent;
}

.inverted2 {
    -fx-padding: 0.25em 0.25em;
    -fx-font-size: 16px;
    -fx-background-color: white;
    -fx-text-fill: -app-color;
    -fx-border-width: 1px;
    -fx-border-color: white;
    -jfx-focus-color: transparent;
    -jfx-faint-focus-color: transparent;
}

.jfx-slider .thumb {
    -fx-background-color: -app-color;
}

.jfx-text-field, .jfx-password-field, .jfx-text-area {
    -jfx-focus-color: -app-color;
}

.hover{
    -fx-background-color: #e3e3e3;
}

.not-editable {
    -fx-background-color: derive(gray,80%);
    -jfx-focus-color: black;
}

/* fix */
.jfx-combo-box{

    -jfx-focus-color: teal;
    -jfx-unfocus-color: #4d4d4d;
    -fx-prompt-text-fill: #4d4d4d;
}

.jfx-combo-box,
.jfx-combo-box:focused,
.jfx-combo-box:editable,
.jfx-combo-box:editable:focused{
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
}

.jfx-combo-box .combo-box-button-container{
    -fx-background-color:TRANSPARENT;
}

.jfx-combo-box:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-combo-box .combo-box-popup .list-cell:hover,.jfx-combo-box .combo-box-popup .list-cell:showing, .jfx-combo-box .combo-box-popup .list-cell:selected {
    -fx-background-color: teal ;
}

.jfx-check-box {
    -jfx-unchecked-color: #5A5A5A;
    -jfx-checked-color: teal;
}

.jfx-combo-box > .arrow-button,
.jfx-combo-box:editable > .arrow-button,
.jfx-combo-box:editable:focused > .arrow-button{
    -fx-background-color: TRANSPARENT;
}



/* LABEL */
.label-text {
    -fx-background-color: #f4f4f4;
    -fx-border-color: teal;
    -fx-border-width: 0 0 0 2;
    -fx-padding: 5 5 5 5;
}
