* {
    -app-color: #008080;
}

.button-raised {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-background-color: -app-color;
    -fx-text-fill: WHITE;
    -fx-cursor: HAND;
}

.inverted {
    -fx-padding: 0.25em 0.25em;
    -fx-font-size: 16px;
    -fx-background-color: transparent;
    -fx-text-fill: -app-color;
    -fx-border-width: 1px;
    -fx-border-color: #008080;
    -jfx-focus-color: transparent;
    -jfx-faint-focus-color: transparent;
}

.inverted2 {
    -fx-padding: 0.25em 0.25em;
    -fx-font-size: 16px;
    -fx-background-color: white;
    -fx-text-fill: -app-color;
    -fx-border-width: 1px;
    -fx-border-color: white;
    -jfx-focus-color: transparent;
    -jfx-faint-focus-color: transparent;
}

.list-view-recent .list-cell:even {
    -fx-background-color: teal;
    -fx-cursor: HAND;
}
.list-view-recent .list-cell:odd {
    -fx-background-color: teal;
    -fx-cursor: HAND;
}

.list-view-recent .list-cell:selected {
    -fx-background-color: white;
}

.list-view-recent .scroll-bar:horizontal {
    -fx-scale-x: 0;
}

.vboxlistview > *{
    -fx-fill: white;
}

.list-view-recent .list-cell:selected > .vboxlistview > *{
    -fx-fill: teal;
}

.vboxlistview-title{
    -fx-font-size: 18px;
}

.jfx-slider .thumb {
    -fx-background-color: -app-color;
}

.jfx-text-field, .jfx-password-field, .jfx-text-area {
    -jfx-focus-color: -app-color;
}

.hover{
    -fx-background-color: #e3e3e3;
}


.titled-pane, .titled-pane:focused
{
    -fx-text-fill: white;
}

.titled-pane > .title
{
    -fx-background-color: teal;
}

.titled-pane > .title > .arrow-button
{
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow
{
    -fx-background-color: white;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow
{
    -fx-rotate: -90;
}

.titled-pane > *.content
{
    -fx-background-color:
            -fx-box-border,
            white;
    -fx-background-insets: 0, 0 1 1 1;
    -fx-padding: 0.167em;
}

.titled-pane:focused > .title > .arrow-button .arrow
{
    -fx-background-color: white;
}



.menu:hover, .menu:showing, .menu-item:hover, .menu-item:showing {
    -fx-background-color: teal;
}




/* ------ */


/** CSS **/
.scrollpane{
    -fx-focus-color: transparent;
    -fx-border-color:derive(gray,80%);
}

/* The main scrollbar CSS class of ListView */
.scrollpane .scroll-bar:horizontal ,
.scrollpane  .scroll-bar:vertical{
    -fx-background-color:transparent;

}

/* The increment and decrement button CSS class of scrollbar */
.scrollpane .increment-button ,.scrollpane .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:derive(gray,80%);
}

/* The main scrollbar **track** CSS class  */
.scrollpane .scroll-bar:horizontal .track ,
.scrollpane .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive(gray,80%);
    -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scrollpane .scroll-bar:horizontal .thumb,
.scrollpane .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;

}

/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */

.scrollpane .scroll-bar:horizontal:hover .track ,
.scrollpane .scroll-bar:horizontal:pressed .track ,
.scrollpane .scroll-bar:vertical:hover .track,
.scrollpane .scroll-bar:vertical:pressed .track{
    -fx-background-color: derive(#434343,20%);

    -fx-opacity: 0.2;
    -fx-background-radius: 0em;

}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.scrollpane .scroll-bar .thumb:hover,
.scrollpane .scroll-bar .thumb:pressed{
    -fx-background-color: derive(black,50%);
}

.scrollpane .increment-button:hover ,.scrollpane .decrement-button:hover {
    -fx-background-color:derive(gray,100%);
    -fx-border-color:derive(gray,80%);
    -fx-padding:10px;
}

.not-editable {
    -fx-background-color: derive(gray,80%);
    -jfx-focus-color: black;
}